
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
}

.main{
    position: relative;
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
}

.main .box{
    position: absolute;
    top: 0;
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 62px;
}

nav img{
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    height: calc(100%-62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;    
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.separation{
    height: 7px;
    background-color: rgb(47, 44, 44);;
}

.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red{
    color: white;
    background-color: red;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: bold;
}

.main input{
    font-weight: 500;
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    color: white;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.btn-red-sm{
    color: white;
    background-color: red;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg{
    position: relative;
}

.secImg img{
    width: 30vw;
}

.secImg video{
    width: 21.7vw;
    position: absolute;
    top: 5vw;
    right: 4.3vw;
}

section.first > div{
    display: flex;
    flex-direction: column;
}

section.first > div :first-child{
    font-size: min(5vw, 48px);
    font-weight: bolder;
}

section.first > div :nth-child(2){
    font-size: min(2.5vw, 24px);
    font-weight: bolder;
}

.faq h2{
    text-align: center;
}

.faq{
    background: black;
    color: white;
    padding: 34px;
}

.faqbox{
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 14px auto;
    justify-content: space-between;
    cursor: pointer;
    font-size: clamp(12px, 4vw, 24px);
    font-weight: 500;
    transition: all .5s ease-out;
}

.faqbox:hover{
    background-color: rgb(60, 60, 60);
}

footer{
    color: rgb(198, 160, 160);
    max-width: 60vw;
    margin: auto;
}

.questions{
    padding: 34px 0; 
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgb(198, 160, 160);
}

.footer a{
    font-size: 14px;
    color: rgb(198, 160, 160);
    text-decoration: underline;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}


